<div class="profile-container">
  <div class="profile-header">
    <h1>Mi perfil</h1>
  </div>

  <div class="profile-content">
    <div class="profile-picture">
      <img src="https://cdn-icons-png.flaticon.com/512/3106/3106773.png" alt="Foto de perfil">
    </div>

    <div class="profile-info">
      <div class="info-row">
        <strong>Nombre</strong>
        <span>{{ user.full_name }}</span>
      </div>
      <div class="info-row">
        <strong>Email</strong>
        <span>{{ user.email }}</span>
      </div>
      <div class="info-row">
        <strong>Teléfono</strong>
        <span>{{ user.telefono }}</span>
      </div>
    </div>
  </div>

  <div class="profile-history">
    <div class="history-row">
      <strong>Tipo de usuario</strong>
      <span>Cliente</span>
    </div>
  </div>
  <div class="button-container">
    <button class="logout-button" (click)="logout()">Cerrar Sesión</button>
  </div>
</div>
