<div>
  <header class="navbar">
    <div class="logo"> 🅿️ <strong><span class="easy">EASY</span> <span class="park">PARK</span></strong></div>

    <nav class="nav-buttons">
      <div class="menu-container">
        <button class="menu-toggle" (click)="toggleMenu()">☰</button>
        <div class="nav-links" [class.active]="menuOpen">
          <a class="nav-link" [routerLink]="'/user/home'">Inicio</a>
          
          <a class="nav-link" [routerLink]="'/user/vehicule'">Mis Vehículos</a>
          <a class="nav-link" [routerLink]="'/fee'">Tarifas</a>
          <a class="nav-link" [routerLink]="'/user/booking'">Reservas</a>
          <a class="nav-link" [routerLink]="'/user/qualification'">Calificación</a>
          <a class="nav-link" [routerLink]="'/user/contact'">Contacto</a>

        </div>
      </div>
    </nav>

    <div class="auth-buttons">
      <!-- Si el usuario está autenticado -->
      <div *ngIf="userEmail; else guestButtons">
        <span class="welcome-text">Bienvenido, {{ userEmail }}</span>
        <a class="btn blue" [routerLink]="'/profile'">Mi Perfil</a>
      </div>

      <!-- Plantilla para usuarios no autenticados -->
      <ng-template #guestButtons>
        <button class="btn yellow" routerLink="/login">Iniciar sesión</button>
        <button class="btn yellow" routerLink="/register">Registro</button>
      </ng-template>
    </div>
  </header>
</div>