<app-header-user></app-header-user>

<div class="user-plans">
    <h1 class="plans-title">Planes</h1>
  
    <div class="cards-container">
    
        <div class="card">
            <h2>Plan Básico</h2>
            <hr />
            <p><strong>
                💰 Precio: Económico y accesible
                <br /><br />
                🕒 Duración: Por hora o por día
                <br /><br />
                🚗 Incluye:
                <br />✅ Estacionamiento en zona estándar
                <br />✅ Seguridad
                <br />✅ Acceso controlado
            </strong></p>
        </div>
           
        <div class="card">
            <h2>Plan Premium</h2>
            <hr />
            <p><strong>
                💎 Precio: Exclusivo, pero vale la pena
                <br /><br />
                🕒 Duración: Por hora, día o mensualidad
                <br /><br />
                🚗 Incluye:
                <br />✅ Todos los servicios del plan básico
                <br />✅ Estacionamiento en zona preferencia
                <br />✅ Espacios techados para mayor protección
                <br />✅ Acceso prioritario y rápido
                <br />✅ Carga para vehículos eléctricos (según disponibilidad)
                <br /><br />
                🔥 La mejor opción para quienes buscan comodidad, exclusividad y protección extra para su vehículo.
            </strong></p>
        </div>
  
    </div>
</div>
