<app-header-admin></app-header-admin>>

<div class="container mt-4">
  <h2 class="text-center mb-4">Listado de Facturas</h2>

  <div *ngIf="facturas.length > 0; else sinFacturas">
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>N° Factura</th>
          <th>Fecha de Emisión</th>
          <th>Placa</th>
          <th>Tipo de Vehículo</th>
          <th>Tarifa</th>
          <th>Total a Pagar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let factura of facturas">
          <td>{{ factura.numeroFactura }}</td>
          <td>{{ factura.fechaEmision | date:'dd/MM/yyyy' }}</td>
          <td>{{ factura.registroVehiculo?.placa }}</td>
          <td>{{ factura.registroVehiculo?.tipoVehiculo }}</td>
          <td>{{ factura.pago?.tarifa?.tipo_tarifa?.tipo_tarifa }}</td>
          <td>{{ factura.total | currency:'COP ' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #sinFacturas>
    <p class="text-center">No hay facturas registradas.</p>
  </ng-template>
</div>