<app-header-admin></app-header-admin>

<div *ngIf="factura" class="container mt-4">
    <h2 class="text-center mb-4">Factura N° {{ factura.numeroFactura }}</h2>
    <p><strong>Fecha de emisión:</strong> {{ factura.fechaEmision | date:'dd/MM/yyyy' }}</p>

    <hr>

    <h4>Datos del Vehículo</h4>
    <p><strong>Placa:</strong> {{ factura.registroVehiculo.placa }}</p>
    <p><strong>Tipo de Vehículo:</strong> {{ factura.registroVehiculo.tipoVehiculo }}</p>
    <p><strong>Entrada:</strong> {{ factura.registroVehiculo.entrada | date:'short' }}</p>
    <p><strong>Salida:</strong> {{ factura.pago.salida | date:'short' }}</p>

    <hr>

    <h4>Tarifa Aplicada</h4>
    <p><strong>Tipo:</strong> {{ factura.pago.tarifa.tipo_tarifa?.tipo_tarifa  }}</p>
    <p><strong>Precio:</strong> {{ factura.pago.tarifa.precio | currency: ' COP ' }}</p>

    <hr>


    <h4>Resumen de valores</h4>
    <p><strong>Valor a pagar sin IVA:</strong> {{ factura.pago.valorAPagar | currency:' COP ' }}</p>

    <h3>Total a pagar: $ {{ factura.total | currency:' COP ' }}</h3>
</div>


<div *ngIf="!factura" class="text-center mt-5">
    <p>Cargando factura...</p>
</div>