/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro */
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: yellow; /* Logo amarillo */
}

.easy {
    color: yellow;
    font-weight: bold;
}

.park {
    color: white;
    font-weight: bold;
}

.navbar nav {
    display: flex;
    gap: 20px;
}

.navbar nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar nav a:hover {
    color: yellow; /* Cambio de color en hover */
}

/* Estilos para el menú */
.menu-container {
    display: flex;
    align-items: center;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.auth-buttons {
    display: flex;
    gap: 20px; /* Espacio entre los elementos */
    align-items: center; /* Alinea verticalmente */
}

.auth-buttons .welcome-text {
    color: white;
    margin-right: 20px; /* Añadir un margen entre el texto de bienvenida y los botones */
}

.auth-buttons .btn {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.btn.yellow {
    background-color: yellow;
    color: black;
}

.btn.blue {
    background-color: rgba(255, 255, 96, 0.862); /* Azul amarillento */
    color: black;
}

/* Para dispositivos más pequeños */
@media (max-width: 768px) {
    .auth-buttons {
        flex-direction: column;
        gap: 10px; /* Reducir el espacio entre los elementos en pantallas pequeñas */
    }
}


.auth-buttons .welcome-text {
    color: white;
    margin-right: 20px; /* antes era 20px */
}


/* Menú desplegable en pantallas pequeñas */
.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links.active {
    display: flex;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro */
        position: absolute;
        top: 60px;
        right: 30px;
        width: 200px;
        padding: 15px;
        border-radius: 5px;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links a {
        padding: 10px;
        text-align: center;
        color: white;
        font-size: 16px;
    }

    .nav-links a:hover {
        background-color: yellow;
        color: black;
    }
}
.auth-buttons .btn + .btn {
    margin-left: 20px;
}


@media (max-width: 768px) {
    .auth-buttons {
        flex-direction: column;
        gap: 20px; 
    }
    .auth-buttons .btn + .btn {
        margin-left: 0; 
    }
}

.welcome-text {
    color: white;
    margin-right: 20px;
}

