<app-header-admin></app-header-admin>

<div class="container mt-4">
  <h2 class="text-center mb-4">Registrar Pago</h2>

  <!-- Alertas -->
  <div *ngIf="registerSuccess" class="alert alert-success">
    <i class="bi bi-check-circle-fill me-2"></i>
    Pago registrado exitosamente.
  </div>

  <div *ngIf="registerError" class="alert alert-danger">
    <i class="bi bi-exclamation-triangle-fill me-2"></i>
    Error al registrar el pago.
  </div>

  <!-- Formulario -->
  <form (ngSubmit)="registrarPago()" class="p-4 border rounded shadow-sm bg-light">

    <!-- Placa -->
    <div class="mb-3">
      <label for="placa" class="form-label">Placa del vehículo:</label>
      <input type="text" id="placa" class="form-control" [(ngModel)]="placa" name="placa" required />
      <button class="btn btn-secondary mt-2" type="button" (click)="buscarVehiculo()">Buscar</button>
    </div>

    <!-- Datos del vehículo -->
    <div *ngIf="vehiculoEncontrado">
      <p><strong>Tipo de Vehículo:</strong> {{ tipoVehiculo }}</p>
      <p><strong>Hora de Entrada:</strong> {{ entrada | date:'yyyy-MM-dd HH:mm' }}</p>
      <p><strong>Tarifa:</strong> {{ tarifa?.nombreTarifa }} - {{ tarifa?.precio | currency:'COP' }}</p>


      <!-- Hora de salida -->

      <div class="mb-3">
        <label for="salida" class="form-label">Hora de Salida:</label>
        <input type="datetime-local" id="salida" class="form-control" [(ngModel)]="salida" name="salida" required />
      </div>


      <!-- Valor a pagar -->
      <p><strong>Valor a Pagar:</strong> {{ valorAPagar | currency:'COP' }}</p>

      <button type="submit" class="btn btn-primary w-100">Registrar Pago</button>
    </div>
  </form>
</div>