<app-header-admin></app-header-admin>

<div class="container mt-4">
  <h2 class="text-center mb-4">Registrar Vehículo</h2>

  <!-- Alertas de éxito y error -->
  <div *ngIf="registerSuccess" class="alert alert-success d-flex align-items-center" role="alert">
    <i class="bi bi-check-circle-fill me-2"></i>
    <div>Vehículo registrado con éxito.</div>
  </div>

  <div *ngIf="registerError" class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="bi bi-exclamation-triangle-fill me-2"></i>
    <div>Error al registrar, por favor intente de nuevo.</div>
  </div>

  <form (ngSubmit)="agregarVehiculo()" class="p-4 border rounded shadow-sm bg-light">
    <div class="mb-3">
      <label class="form-label">Placa:</label>
      <input type="text" class="form-control" [(ngModel)]="vehiculo.placa" name="placa" required />
    </div>

    <div class="mb-3">
      <label class="form-label">Tipo de vehículo:</label>
      <select class="form-select" [(ngModel)]="vehiculo.tipoVehiculo" name="tipoVehiculo" (change)="filtrarTarifas()" required>
        <option value="" disabled selected>Selecciona un tipo</option>
        <option value="Carro">Carro</option>
        <option value="Moto">Moto</option>
        <option value="Bicicleta">Bicicleta</option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label">Tarifa:</label>
      <select class="form-select" [(ngModel)]="vehiculo.idTarifa" name="idTarifa" required>
        <option *ngFor="let tarifa of tarifasFiltradas" [value]="tarifa.id">
          {{ tarifa.tipoVehiculo }} - {{ tarifa.nombreTarifa }}: {{ tarifa.precio }} COP ({{ tarifa.fecha }})
        </option>
      </select>
    </div>
    
    <button type="submit" class="btn btn-primary w-100">Registrar Vehículo</button>
  </form>
</div>
