.admin-dashboard {
    text-align: center;
    padding: 20px;
    min-height: 100vh;
    background-image: url('https://img.freepik.com/fotos-premium/garaje-estacionamiento-oscuro-habitacion-industrial-interio-foto-re_835197-9651.jpg'); /* Imagen de fondo */
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
    background-attachment: fixed; /* Fija la imagen al hacer scroll */
    color: white; /* Para mejorar la visibilidad del texto sobre la imagen */
}

.dashboard-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra para mejorar la lectura */
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    background: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: rgb(0, 0, 0)
}

.card img {
    width: 100%;
    border-radius: 8px;
    color: rgb(0, 0, 0)
}

.card h2 {
    font-size: 22px;
    margin: 10px 0;
    color: #000000;
}

.card hr {
    border: 1px solid #ddd;
    color: rgb(0, 0, 0)
}

.card p {
    font-size: 16px;
    color: #333;
    color: rgb(0, 0, 0)
}

img {
    max-width: 100%; /* Ajusta la imagen al tamaño del contenedor */
    height: auto; /* Mantiene la proporción */
  }
  